/* Editor.js Mobile CSS - prefix: 'edjs-'*/

h2.edjs-header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

h3.edjs-header {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

.edjs-p {
  font-size: 0.95rem;
}

.edjs-caption {
  padding-top: 3px;
  color: #737373;
  font-style: italic;
  font-size: 0.75rem;
}

.edjs-warning-box {
  width: 100%;
  margin: 0.4rem auto;
  padding: 0.75rem;
  border-width: 1px;
  border-color: #bcbcbc;
  border-radius: 0.5rem;
}

.edjs-warning-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.edjs-warning-message {
  padding-left: 1.2rem;
  font-size: 0.95rem;
  overflow-wrap: anywhere;
}

ol.edjs-list {
  padding-left: 2rem;
  font-size: 0.95rem;
  list-style-type: decimal;
  list-style-position: outside;
}

ul.edjs-list {
  padding-left: 0.6rem;
  font-size: 0.95rem;
  list-style-type: disc;
  list-style-position: outside;
}

.edjs-table {
  table-layout: auto;
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  text-align: left;
}

.edjs-table-th {
  padding-left: 1rem;
  border-bottom: 2px solid #dbdbdb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.edjs-table-th:first-child {
  border-left: none;
}

.edjs-table-th:last-child {
  border-right: none;
}

.edjs-table-td {
  padding-left: 1rem;
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.edjs-table-td:first-child {
  border-left: none;
}

.edjs-table-td:last-child {
  border-right: none;
}

.edjs-code {
  max-width: 320px;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #121234;
  font-size: 0.83rem;
  color: white;
  font-family: D2Coding;
  white-space: pre;
  overflow-x: scroll;
}

.inline-code {
  padding: 0 0.4rem;
  border-radius: 0.25rem;
  background-color: #e5e2f5;
  font-size: 0.83rem;
  color: #373db4;
  font-family: D2Coding;
  font-style: italic;
}

/* Editor.js Desktop CSS - prefix: 'edjs-'*/
@media (min-width: 640px) {
  h2.edjs {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    margin: 0.5rem 0;
  }

  h3.edjs {
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 2rem;
    margin: 0.5rem 0;
  }

  .edjs-p {
    font-size: 1rem;
  }

  .edjs-caption {
    padding-top: 3px;
    color: #737373;
    font-style: italic;
    font-size: 0.95rem;
  }

  .edjs-warning-box {
    width: 95%;
    margin: 1rem auto;
    padding: 0.75rem 1rem;
    border-width: 2px;
    border-color: #bcbcbc;
    border-radius: 0.5rem;
  }

  .edjs-warning-title {
    font-weight: 600;
    font-size: 1.15rem;
  }

  .edjs-warning-message {
    padding-left: 1.2rem;
    font-size: 1rem;
    overflow-wrap: anywhere;
  }

  .edjs-list-ul {
    padding-left: 0.95rem;
    font-size: 1rem;
    list-style-type: disc;
    list-style-position: inside;
  }

  .edjs-code {
    max-width: 100%;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #121234;
    font-size: 0.83rem;
    color: white;
    font-family: D2Coding;
    white-space: pre;
    overflow-x: scroll;
  }
}
