@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .keep-all {
    word-break: keep-all;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap");

/* Editor.js Mobile CSS - prefix: 'edjs-'*/
.edjs-h2 {
  font-weight: 700;
  font-size: 1.05rem;
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

.edjs-p {
  font-size: 0.75rem;
}

.edjs-caption {
  padding-top: 3px;
  color: #737373;
  font-style: italic;
  font-size: 0.75rem;
}

.edjs-warning-box {
  width: 100%;
  margin: 0.4rem auto;
  padding: 0.75rem;
  border-width: 1px;
  border-color: #bcbcbc;
  border-radius: 0.5rem;
}

.edjs-warning-title {
  font-weight: 600;
  font-size: 0.85rem;
}

.edjs-warning-message {
  padding-left: 1.2rem;
  font-size: 0.75rem;
}

.edjs-list-ul {
  padding-left: 0.6rem;
  font-size: 0.75rem;
  list-style-type: disc;
  list-style-position: inside;
}

/* Editor.js Desktop CSS - prefix: 'edjs-'*/
@media (min-width: 640px) {
  .edjs-h2 {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    margin: 0.5rem 0;
  }

  .edjs-p {
    font-size: 1rem;
  }

  .edjs-caption {
    padding-top: 3px;
    color: #737373;
    font-style: italic;
    font-size: 0.95rem;
  }

  .edjs-warning-box {
    width: 90%;
    margin: 1rem auto;
    padding: 0.75rem 1rem;
    border-width: 2px;
    border-color: #bcbcbc;
    border-radius: 0.5rem;
  }

  .edjs-warning-title {
    font-weight: 600;
    font-size: 1.15rem;
  }

  .edjs-warning-message {
    padding-left: 1.2rem;
    font-size: 1rem;
  }

  .edjs-warning-message {
    padding-left: 1.5rem;
  }

  .edjs-list-ul {
    padding-left: 0.95rem;
    font-size: 1rem;
    list-style-type: disc;
    list-style-position: inside;
  }
}
